codes/run-sh/*/rec.yuv
codes/run-sh/hm/rec.yuv
codes/run-sh/vtm/rec.yuv
codes/run-sh/vtm/*/rec.yuv
codes/run-sh/aom/rec.yuv
codes/run-sh/rec.yuv
rec.yuv
*/rec.yuv
*/*/rec.yuv
*/*/*/rec.yuv
*/*/*/*/rec.yuv
*/*/*/*/*/rec.yuv
*/*/*/*/*/*/rec.yuv
output_VTM/local/BK_parsed_traces/*
output_VTM/local/BK_parsed_traces/
output_VTM/local/parsed_traces/*
output_VTM/local/parsed_traces
output_VTM/local/traces

