/CppApplication_1/build/
/CppApplication_1/dist/
/CppApplication_2/build/
/CppApplication_2/dist/
/codes/run-sh/*/rec.yuv
/codes/run-sh/hm/rec.yuv
/codes/run-sh/vtm/rec.yuv
/codes/run-sh/vtm/*/rec.yuv
/codes/run-sh/aom/rec.yuv
/codes/run-sh/rec.yuv
rec.yuv
/rec.yuv
/*/rec.yuv
/*/*/rec.yuv
/*/*/*/rec.yuv
/*/*/*/*/rec.yuv
/*/*/*/*/*/rec.yuv
/*/*/*/*/*/*/rec.yuv

